{% extends 'base.html' %}
{% block content %}
{% load static %}
<div style = "text-align: center; background-color:lightblue;">
<h1>Welcome To Lifeline Hospital</h1>
</div>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/images/hospital.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static '/images/hosp1.webp' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static '/images/hosp2.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br>
<div style="width: 700px; background-color: lightskyblue;">
  <h4>Why Lifeline</h4>
  <h1><b>Our team of experts provides top-notch medical treatment with empathy using the most advanced technology.</b></h1>

</div>

<div>
  <h5>Your health is our priority. Lifeline Hospital ensures you and your family receive the best possible medical care and assistance. We strive to create a warm and safe healing environment for you and your family. Over the past decade, Lifeline Hospital has been unflinchingly devoted to improving healthcare and treatment. Medical specialists have been working diligently to conduct research and educate future generations of doctors and healthcare workers.

As our entire team works toward your speedy recovery, we utilize highly-trained doctors and cutting-edge technology in the field of medical sciences.</h5>
</div>




<footer style="background-color:#2c3e50; color:#fff; padding:10px; text-align:center; bottom: 0; width: 100%;">
  <p>&copy; 2024 Lifeline Hospital . All rights reserved.</p>
  <p>Contact us at: info@Lifeline.com</p>
  <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
</footer>
  {% endblock %}